.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
  display: flex;
}
ul li{
  display: inline-block;
  padding-right: 30px;
  padding-top: none;
  padding-bottom: 40px;
  font-size: 18px;
  border-bottom: 1px solid black;
  /* width: 35%; */
  width: 20%;
}
/* .title{
  display: flex;
}

.title h3{
  flex: 1;
}
.title button{
  flex: 4;
} */

button{
  border-radius: 8px;
  border-color: #0852ff;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #0852ff;
  text-decoration: none;
  max-width: 170px;
  align-self: flex-end
}

button:hover{
  background-color: white;
  color: #0852ff;
}